n8n/flow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "produto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        160
      ],
      "id": "4f22d9ae-00a0-4afb-b3eb-61f6658fc578",
      "name": "Webhook",
      "webhookId": "b739918d-3425-4016-afb5-a1fb9edc4124"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/enrich-product",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"productId\": \"={{ $json.body.productId }}\",\n  \"productTitle\": \"={{ $json.body.productTitle }}\",\n  \"productDescription\": \"={{ $json.body.productDescription }}\",\n  \"category\": \"={{ $json.body.category }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        160
      ],
      "id": "41d2a076-fdbb-44f4-9bcf-ddc377342294",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42427748-9c49-4c52-9a8c-37d2cb9290fb",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "04ff6d8c-65e3-418b-aa85-94ed7145beb1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        48
      ],
      "id": "b539d999-8a1a-454a-bd3b-eb6d55f785d2",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"data\": {{ $json.body }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -48
      ],
      "id": "b1e47953-f5ee-4bd1-8551-1b27ab6e2d64",
      "name": "Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        -48
      ],
      "id": "3e46b321-1079-4ffe-a406-8f90077dc3ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        144
      ],
      "id": "309b73cf-004c-4fbe-84fd-56d0b1b0dfcc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"message\": \"Erro ao chamar API\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        192
      ],
      "id": "a3f428a0-93f0-4476-8bbc-8e3f4b131d66",
      "name": "Error"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "753bb340-9852-4439-8db9-ceed846ba3c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8a489f8aaac423be12231baeef71e46396aa70bede6dd6b63158242de7340b2"
  },
  "nodeGroups": [],
  "id": "Cs3gy36oJIYY6Z8p",
  "tags": []
}